@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");
*{  box-sizing: border-box;
    }
body {
    background-color: hsl(0, 0%, 95%);
    display: flex;
    place-items: center;
    min-height: 100vh;
        }
h2 {font-weight: 700;
    font-family: 'Big Shoulders Display', cursive;}
p {font-weight: 400;
  font-family: 'Lexend Deca', sans-serif;}
div {
  display: flex;
  font-size: 15px;
  width: 50%;
  margin: auto;
}
article{
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items:flex-start;
  gap:2rem;
  padding:2rem;
  padding-top:0.5rem;
}
.flex-item {
   color: hsla(0, 0%, 100%, 0.75);
  }
.item-1 {
  background-color: hsl(31, 77%, 52%);
  padding: 20px;
}
.item-2 {
  background-color: hsl(184, 100%, 22%);
  padding: 20px;
}
.item-3 {
  background-color: hsl(179, 100%, 13%);
  padding: 20px;
}
button{ padding: 15px;
        border-radius: 15px;
        border: none;
             }
.btn1 {
  background-color: hsl(0, 0%, 95%);
  color: hsl(31, 77%, 52%);
}
.btn1:hover {
  background-color: transparent;
  color: hsl(0, 0%, 95%);
}
.btn2 {
  background-color: hsl(0, 0%, 95%);
  color: hsl(184, 100%, 22%);
}
.btn2:hover {
  background-color: transparent;
  color: hsl(0, 0%, 95%);
}
.btn3 {
  background-color: hsl(0, 0%, 95%);
  color: hsl(179, 100%, 13%);
  }
.btn3:hover {
  background-color: transparent;
  color: hsl(0, 0%, 95%);
}
a{color:white;
 text-decoration: none;}
@media screen and (max-width:375px){
body {
    background-color: hsl(0, 0%, 95%);
    place-items: center;
    min-height: 100vh;
        }
}